.advantages
    margin-top: 70px

.video-section
    position: relative
    min-height: 750px
    &__video-item
        padding-right: 7%
        float: left
        position: absolute
        right: 0
        top: 0
    
.design-section
    margin-top: 97px
    padding-left: 20%
    max-width: 350px
    
.advantages
    &__heading-h3
        +robotobold
        font-size: 20px
        text-transform: uppercase
        letter-spacing: 1.6px
        color: $text-blue
        margin-bottom: 80px
    &__heading-h2
        +rubik
        font-size: 40px
        letter-spacing: 3.2px
        margin-bottom: 23px
    &__text
        +robotolight
        font-size: 18px
        line-height: 30px
        margin-bottom: 0px
    &__list
        margin-top: 15px
        &__item
            list-style-type: none
            margin-bottom: 15px
            margin-left: 5px
        &__item::before
            content: ''
            background: url('../img/list-style-image.png') no-repeat center center
            top: 20px
            left: -45px
            display: block
            position: relative
            width: 30px
            height: 5px
        
        

.color-section
    margin-top: 430px
    background: url('../img/advantages-gray-arrow.png') no-repeat 70px 19px
    overflow: hidden
    &__text
        margin-left: 30%
        max-width: 240px
        margin-bottom: 56px
    &__heading-h2
       margin-left: 30%
    &__scooter
        width: 100%
        overflow: hidden
        position: relative
        margin-top: 28px
        margin-left: 5%

.colors
    margin-left: 30%
    display: flex
    justify-content: space-between
    padding: 0 5%

.color-circle
    height: 20px
    width: 20px
    background-color: black
    display: inline-block
    border-radius: 100%
    //margin: 0 15px
    
.color
    @each $color_name, $color in $circle-colors
        &_#{$color_name}
            background-color: $color