@import url('https://fonts.googleapis.com/css?family=Roboto:300,700|Rubik+Mono+One&display=swap&subset=cyrillic');
    
@mixin robotobold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@mixin robotolight{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@mixin rubik{
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 400;
}